html,body {height:100%;}


main {
  height: 100%;
   margin-bottom:200px;
}

footer{
    position:fixed;
    height:250px;
    background-color:red;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

#zip-box
  input
    border-style solid
    border-width 1px
    border-radius 3px
    border-color #f2f2f2
    background-color: rgba(255, 255, 255, 0.9)
::-webkit-input-placeholder {
   color black;
}

:-moz-placeholder { /* Firefox 18- */
   color black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color black;
}

:-ms-input-placeholder {
   color black;
}

nav
  height 70px
  .menu
    margin-bottom: 20px

#title
  font-size 20px
  text-align center
  font-weight 300

.petPics
  height 150px !important
  width 100% !important
  max-width 150px !important
  border-radius 50% !important
  padding-top 10px
  display block
  margin 0 auto

.card-title
  font-size: 16px !important


hr
  opacity .2

ul#menu li
    display inline

.btn, .btn-large
  margin-bottom 10px

.card:hover
  box-shadow: 10px 10px 5px grey;
