html
  height: 100%
  body
    height: 100%;


#zip-box
  input
    border-style solid
    border-width 1px
    border-radius 3px
    border-color #f2f2f2
    background-color: rgba(255, 255, 255, 0.9)
::-webkit-input-placeholder {
   color black;
}

:-moz-placeholder { /* Firefox 18- */
   color black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color black;
}

:-ms-input-placeholder {
   color black;
}


body
  background-color white

nav
  height 70px
  .menu
    margin-bottom: 20px

#title
  font-size 20px
  text-align center
  font-weight 300
